* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Jost', sans-serif;
}

:root {
    --primary: #434343;
    --secondary: #fafafa;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary);
}

.header {
    text-align: center;
    font-size: 3rem;
    padding: 2%;
    font-weight: 300;
}

.game {
    height: 70vh;
}

.board {
    height: 100%;
    margin: 0 auto;
    aspect-ratio: 1;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 1rem;
}

.control {
    height: 20vh;
}

.square {

    display: grid;
    place-content: center;

    font-size: 5rem;
    font-weight: 300;
    user-select: none;
    border-radius: 12px;
    box-shadow: 0px 0px 12px -6px var(--primary);
}

.square:hover {
    box-shadow: 0px 0px 16px -6px var(--primary);
}

.active {
    box-shadow: 0px 0px 12px -6px var(--primary) inset;
    transition: box-shadow 0.2s ease;

}

.active:hover {
    box-shadow: 0px 0px 12px -6px var(--primary) inset;
}

.control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
}

.score {
    text-align: center;
}

.p1.score::before {
    content: 'Player 1';
    display: block;
    font-size: 2rem;
    padding: 0.4rem;

}

.p2.score::before {
    content: 'Player 2';
    display: block;
    font-size: 2rem;
    padding: 0.4rem;

}

.tie.score::before {
    content: 'Tie';
    display: block;
    font-size: 2rem;
    padding: 0.4rem;
}

.score {
    font-size: 2rem;
}


.modal {
    background: var(--secondary);
    box-shadow: 0px 0px 12px -6px var(--primary);
    border-radius: 12px;
    position: absolute;
    height: 45%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    transition: width 1s ease-in, height 250ms ease-in-out;

    display: grid;
    place-content: center;
    font-size: 4rem;
    overflow: hidden;
    cursor: url('assets/replay.svg'), pointer;
}

.hidden {
    height: 0px;
    transition: width 1s ease-in, height 250ms ease-in-out;
}

.filled {
    cursor: url('assets/not-allowed.svg'), not-allowed;
}

.cross-cursor {
    cursor: url('assets/cross.svg'), crosshair;
}

.circle-cursor {
    cursor: url('assets/circle.svg'), wait;
}


/* Media Queries for Phones */
@media (max-width: 599px) {

    body
    {
        padding: 1.2rem 0;
    }

    .game
    {
        width: 90vw;
        height: 90vw;
        margin: 0 auto;
    }
    .board {
        width: 100%;
    }
    .square
    {
        font-size: 3.5rem;
    }

    .score
    {
        font-size: 1.2rem;
    }

    .p1.score::before {
        content: 'Player 1';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    
    }
    
    .p2.score::before {
        content: 'Player 2';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    
    }
    
    .tie.score::before {
        content: 'Tie';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    }
    .modal.result
    {
        width: 90%;
        font-size: 1.5rem;
    }
}

/*
 Notes to Self 
need to remove the active toggle from the squares which are already filled

*/