* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Jost', sans-serif;
}

:root {
    --primary: #434343;
    --secondary: #fafafa;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary);
}

.header {
    text-align: center;
    font-size: 3rem;
    padding: 2%;
    font-weight: 300;
}

.game {
    height: 70vh;
}

.board {
    height: 100%;
    margin: 0 auto;
    aspect-ratio: 1;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 1rem;
}

.control {
    height: 20vh;
}

.square {
    /* border-top: 3px solid var(--primary); */
    /* border-left: 3px solid var(--primary); */

    display: grid;
    place-content: center;

    font-size: 5rem;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
}

/* .square:nth-child(3n)
{
    border-right: 3px solid var(--primary);
}
.square:nth-child(n+7)
{
    border-bottom: 3px solid var(--primary);
} */

.square {
    box-shadow: 0px 0px 12px -6px var(--primary);
    border-radius: 12px;
}

.square:hover {
    box-shadow: 0px 0px 16px -6px var(--primary);
}

.active {
    box-shadow: 0px 0px 12px -6px var(--primary) inset;
}

.control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
}

.score {
    text-align: center;
}

.p1.score::before {
    content: 'Player 1';
    display: block;
    font-size: 2rem;
    padding: 0.4rem;

}

.p2.score::before {
    content: 'Player 2';
    display: block;
    font-size: 2rem;
    padding: 0.4rem;

}

.tie.score::before {
    content: 'Tie';
    display: block;
    font-size: 2rem;
    padding: 0.4rem;
}

.score {
    font-size: 2rem;
}