* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Jost', sans-serif;
}

:root {
    --primary: #434343;
    --secondary: #fafafa;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    background-color: var(--secondary);
    padding: 1rem 0;
    gap: 0.8rem;
}

.header {
    text-align: center;
    font-size: 3rem;
    padding: 2%;
    font-weight: 200;
    letter-spacing: 6px;
}

.game {
    height: 65vh;
}

.board {
    height: 100%;
    margin: 0 auto;
    aspect-ratio: 1;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 1rem;
}

.control {
    height: fit-content;
}

.square {

    display: grid;
    place-content: center;

    font-size: 5rem;
    font-weight: 200;
    user-select: none;
    border-radius: 12px;
    box-shadow: 0px 0px 11px -7px var(--primary);
}

.square:hover {
    box-shadow: 0px 0px 16px -8px var(--primary);
}

.active {
    box-shadow: 0px 0px 11px -7px var(--primary) inset;
    transition: box-shadow 0.2s ease;

}

.active:hover {
    box-shadow: 0px 0px 12px -6px var(--primary) inset;
}

.control {
    display: grid;
    grid-template-columns: 3fr 1fr;

}


.control .scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
}

.score {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.p1.score::before {
    content: 'Player 1';
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem;

}

.p1.score.you::before {
    content: 'You';
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem;
}

.p2.score::before {
    content: 'Player 2';
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem;

}

.p2.score.computer::before {
    content: 'Computer';
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem;
}

.tie.score::before {
    content: 'Tie';
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem;
}

.mode {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 0rem;
    grid-template-columns: auto auto;
    width: fit-content;
}

.mode-select {
    background-color: transparent;
    border: 0px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    justify-self: center;
    align-self: center;

    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.4rem 1.2rem;
}

.level {
    text-align: center;
    width: 100%;
    padding: 0.2rem 1.1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: center;
    border-left: 2px solid var(--primary);

}


.modal {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 1;
    transition: opacity 0.2s ease;

    display: grid;
    place-content: center;
    font-size: 4rem;
    overflow: hidden;
    cursor: url('assets/replay.svg'), pointer;
}

.modal .result {
    background: var(--secondary);
    box-shadow: 0px 0px 12px -6px var(--primary);
    border-radius: 12px;
    width: 60vw;
    min-width: fit-content;
    height: 30vw;
    min-height: fit-content;
    display: grid;
    place-content: center;
    font-weight: 200;

}

.hidden {
    height: 0px;
    opacity: 0;
}

.display-none {
    display: none;
}

.filled {
    cursor: url('assets/not-allowed.svg'), not-allowed;
}

.cross-cursor {
    cursor: url('assets/cross.svg'), crosshair;
}

.circle-cursor {
    cursor: url('assets/circle.svg'), wait;
}


/* Media Queries for Phones */
@media (max-width: 599px) {

    body {
        padding: 1.2rem 0;
    }

    .header {
        font-size: 2.5rem;
        letter-spacing: 4px;
    }

    .game {
        width: 90vw;
        height: 90vw;
        margin: 0 auto;
    }

    .board {
        width: 100%;
    }

    .square {
        font-size: 3.5rem;
    }

    .score {
        font-size: 1.2rem;
        font-weight: 200;
    }

    .p1.score::before {
        content: 'Player 1';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    }

    .p1.score.you::before {
        content: 'You';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    }

    .p2.score::before {
        content: 'Player 2';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;

    }

    .p2.score.computer::before {
        content: 'Computer' !important;
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    }

    .tie.score::before {
        content: 'Tie';
        display: block;
        font-size: 1.4rem;
        padding: 0.2rem;
    }

    .modal .result {
        width: 90vw;
        font-size: 1.5rem;
        height: 50vw;
    }

    .control {
        gap: 0.8rem;
        grid-template-rows: max-content min-content;
    }

    .scores {
        grid-column: span 2;
    }

    .mode {
        grid-row: 1/2;
        place-self: center;
        grid-column: span 2;
    }

    .mode-select,
    .level {
        font-weight: 300;
    }

    .level {
        border-left: 1px solid var(--primary);
    }


    /* Quick fix for font weight */
    .control * {
        font-weight: 200;
    }
}